.bodyNoBlur{
    background-image: url("../img/reloj.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyBlur{
    background-image: url("../img/reloj-blur.png");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#btnIniciar{
    width: 25%;
    margin-left: 37.5%;
    font-size: 1.3rem;
}

.temporizadorFinalizado{
    z-index: 1000000;
    position: fixed;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    background: #181818;
    border-radius: 2rem;
    text-align: center;
}

.temporizadorFinalizado p{
    color: #ececec;
    font-size: 1.4rem;
    text-align: center;
}

.card_temporizador{
    width: 90%;
    margin-top: 1.5rem;
    height: 20rem;
    background: #ececec;
    border-radius: 2rem;
    font-size: 1.3rem;
    padding: 0.3rem;
    text-align: center;
}

#contenerTemporizadores{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 19.5%);
}

h1, h2{
    font-size: 1.5rem;
    text-align: center;
}

.cancelarBoton{
    width: 40%;
    font-size: 1.3rem;
    color: #ff5f00;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid;
    border-radius: 1rem;
    display: inline-block;
    text-decoration: none;
        /* Firefox */
        -moz-transition: all 0.2s ease-in;
        /* WebKit */
        -webkit-transition: all 0.2s ease-in;
        /* Opera */
        -o-transition: all 0.2s ease-in;
        /* Standard */
        transition: all 0.2s ease-in;
}
.cancelarBoton:hover {
    transform: scale(1.15);
    background-color: #ff5f00;
    color: #fff;
}

.basicosBoton{
    text-align: center;
    width: 20%;
    font-size: 1.3rem;
}

.blureado{
     /* Add the blur effect */
     filter: blur(4px);
     -webkit-filter: blur(4px);
}

@media(max-width: 992px){ /*Laptop*/
    *{
        font-size: 0.8rem;
    }
    h1{
        font-size: 2rem;
    }
    .basicosBoton{
        min-height: 2.5rem;
        width: 30%;
        font-size: 1.3rem;
    }
    #btnIniciar{
        min-height: 2.5rem;
        width: 30%;
        margin-left: 35%;
        font-size: 1.3rem;
    }
    .formulario{
        width: 60%;
        margin-left: 18%;
        padding: 2rem;
    }    
    .inputTexto{
        width: 98%;
    }
    .bodyNoBlur{
        background-size: auto;
    }
    .bodyBlur{
        background-size: auto;
    }
}

@media(max-width: 768px){ /*Tablet*/
    *{
        font-size: 0.65rem;
    }
    h1{
        font-size: 1.5rem;
    }
    .basicosBoton{
        min-height: 2.5rem;
        width: 30%;
        font-size: 0.65rem;
    }
    #btnIniciar{
        min-height: 3rem;
        width: 30%;
        margin-left: 35%;
        font-size: 1.3rem;
    }
    .formulario{
        width: 70%;
        margin-left: 12%;
        padding: 2rem;
    }    
    .inputTexto{
        width: 98%;
    }
    .bodyNoBlur{
        background-size: auto;
    }
    .bodyBlur{
        background-size: auto;
    }
}

@media(max-width: 600px){ /*Celular*/
    *{
        font-size: 0.45rem;
    }
    h1{
        font-size: 1.2rem;
    }
    .basicosBoton{
        min-height: 2.5rem;
        width: 50%;
        font-size: 0.45rem;
    }
    #btnIniciar{
        min-height: 3rem;
        width: 50%;
        margin-left: 25%;
        font-size: 1.3rem;
    }
    .formulario{
        width: 80%;
        margin-left: 7%;
        padding: 2rem;
    }
    .bodyNoBlur{
        background-size: auto;
    }
    .bodyBlur{
        background-size: auto;
    }
}

@media(max-width: 400px){ /*Celular*/
    *{
        font-size: 0.45rem;
    }
    h1{
        font-size: 1.2rem;
    }
    .basicosBoton{
        width: 50%;
        font-size: 0.45rem;
    }
    #btnIniciar{
        min-height: 3rem;
        width: 50%;
        margin-left: 25%;
        font-size: 1.3rem;
    }
    .formulario{
        width: 100%;
        margin-left: -2%;
        padding: 2rem;
    }
    .bodyNoBlur{
        background-size: auto;
    }
    .bodyBlur{
        background-size: auto;
    }
}